.Button {
    width: 50px;
    height: 50px;
    color: #ffffff;
    border: none;
    background-color: #1b1e26;
    outline: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Button:hover {
    cursor: pointer;
}
.Button.ButtonZero{
    width: 101px;
}
.Button.CommandType {
    background-color: #272b2e;
}
.Button.CommandType.Cancel {
    color: #ff7000;
}